* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background: none;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    z-index: 99;
}

#hamburger {
    background: none;
    border: none;
    cursor: pointer;
}
