@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: var(--blue);
    color: var(--white);
    -webkit-text-stroke: #FFFFFF;
}

.invis {
    opacity: 0;
}

body {
    overflow-x: hidden;
    background-color: var(--bgr);
}

html {
    --blue: #936fbb;
    --white: #FFFFFF;
    --bgr: #2b203b;
    --bgr2: #1c1c20;
}

header {
    position: absolute;
    pointer-events: none;
    position: fixed;
    z-index: 999;
    top: 50px;
    left: 0;
    right: 50px;
}

.right-part {
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: inherit;
    justify-content: right;
}

.right-part ul {
    list-style: none;   
}

.hamburger-btn {
    background: none;
    border: none;
    z-index: 1000;
    position: relative;
}

.icons-style {
    opacity: 1;
    fill: none;
    stroke: var(--white);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    display: block;
}

.hamburger-btn svg, rect {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--white);
    font: inherit;
    padding: 0;
}

svg rect, circle, .hamburger-btn[data-active=true] {
    transition: ease-in-out 0.1s;
}
.hamburger-btn[data-active=false] {
    transition: ease-in-out 0.1s;
}

.icons-style:hover .rect1 {
    width: 30px;
    transform: translateY(0) translateX(-12px);
}

.icons-style:hover .rect2 {
    height: 30px;
    transform: translateX(0) translateY(-12px);
}

.icons-style:hover circle:nth-child(3) {
    cy: 0;
    opacity: 0;
}
.icons-style:hover circle:nth-child(5) {
    cx: 50;
    opacity: 0;
}
.icons-style:hover circle:nth-child(7) {
    cy: 50;
    opacity: 0;
}
.icons-style:hover circle:nth-child(9) {
    cx: 0;
    opacity: 0;
}

.hamburger-btn[data-active=true] {
    transform: rotate(45deg);
}
.hamburger-btn[data-active=true] .rect1 {
    width: 45px;
    transform: translateY(0) translateX(-20px);
}
.hamburger-btn[data-active=true] .rect2 {
    height: 45px;
    transform: translateX(0) translateY(-20px);
}
.hamburger-btn[data-active=true] circle:nth-child(3) {
    cy: 0;
    opacity: 0;
}
.hamburger-btn[data-active=true] circle:nth-child(5) {
    cx: 50;
    opacity: 0;
}
.hamburger-btn[data-active=true] circle:nth-child(7) {
    cy: 50;
    opacity: 0;
}
.hamburger-btn[data-active=true] circle:nth-child(9) {
    cx: 0;
    opacity: 0;
}
.hamburger-btn[data-active=true]:hover circle:nth-child(1), .hamburger-btn[data-active=true] circle:nth-child(2), .hamburger-btn[data-active=true] circle:nth-child(4), .hamburger-btn[data-active=true] circle:nth-child(6), .hamburger-btn[data-active=true]  circle:nth-child(8) {
    opacity: 0;
}

.nav {
    transition: ease-in-out .2s ;
}

.nav[data-active=false] {
    margin-left: 100%;
}

.nav[data-active=true] {
    background-color: red;
    height: 100vh;
    width: 120%;
    margin-top: -7rem;
    margin-left: 0%;
    position: absolute;
}

/* ZAČÍNA HTML PRO STRÁNKU */

#bgr {
    position: absolute;
}
#home {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 58vh;
    background: linear-gradient(180deg, var(--bgr), 90%, #1c1c20);
}

#home h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    -webkit-text-stroke: var(--blue) 2.5px;
    color: transparent;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    position: relative;
    z-index: 9;

}

.name, .nick {
    color: var(--blue);
    -webkit-text-stroke: 0px;
    opacity: 1;
    animation: wave 5s linear infinite;
    animation-play-state: paused;
}

.nick {
    animation: wave 1.5s linear infinite;
    animation-play-state: paused;
}

.wave {
    background-image: url(/assets/img/wave.svg);
    background-repeat: repeat no-repeat;
    background-position-y: 50px;
    background-size: 50px;
}

.myName {
    margin-top: 20%;
}

.name:hover {
    animation-play-state: running;
    cursor: help;

}
.nick:hover {
    cursor: help;
    animation-play-state: running;
}

@keyframes wave {
    from{
        background-position-x: 0%;
    }to{
        background-position-x: 100%;
    }
}

.about-small {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: var(--white);
    opacity: 0.8;
    font-size: 1.3em;
    margin-top: -15px;
    position: relative;
    z-index: 2;
}

.circle {
    width:80px;
    height:80px;
    border-radius:50%;
    border-radius:50%;
    border-radius:50%;
    background:#fff;
    left: 50vw;
    top: -10rem;
    position: absolute;
    opacity: 1;
    z-index: 1;
}

.circle.on {
    opacity: 1;
}
    
.circle.yel {
    box-shadow:
    inset 0 0 30px 0 #fff,
    inset 20px 0 30px #ffd400,
    inset -20px 0 30px red,
    inset 20px 0 60px #ff40d6,
    inset -20px 0 300px #e3ff4b,
    0 0 50px #fff,
    -10px 0 100px #fbff00,
    10px 0 80px #f55;
    margin-top: 5rem;

}

.circle.blu {
    box-shadow:
    inset 0 0 30px 0 #fff,
    inset 20px 0 30px #0004ff,
    inset -20px 0 30px red,
    inset 20px 0 60px #ff000d,
    inset -20px 0 300px #001aff,
    0 0 50px #fff,
    -10px 0 100px #3700ff,
    10px 0 80px #f55;
    margin-left: -30rem;
}

.circle.gre {
    box-shadow:
    inset 0 0 30px 0 #fff,
    inset 20px 0 30px #2bff00,
    inset -20px 0 30px rgb(3, 100, 0),
    inset 20px 0 60px #ff40d6,
    inset -20px 0 300px #1eb142,
    0 0 50px #fff,
    -10px 0 100px #00ff22,
    10px 0 80px rgb(113, 255, 85);
    margin-left: -25rem;
    margin-top: 25rem;
}

.circle.red {
    box-shadow:
    inset 0 0 30px 0 #fff,
    inset 20px 0 30px red,
    inset -20px 0 30px red,
    inset 20px 0 60px #ff40d6,
    inset -20px 0 300px #e3ff4b,
    0 0 50px #fff,
    -10px 0 100px red,
    10px 0 80px #f55;
    margin-left: 13vmin;
    margin-top: 1rem;
}

#skills {
    height: 100vh;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bgr2);
}

#skills h1 {
    font-family: "Poppins",Sans-serif;
    font-weight: 600;
    line-height: 1.4em;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    font-size: 4em;
}

#skills .wrap {
    z-index: 5;
    display: flex;
    justify-content: center;
}

.skill .text {
    margin-right: 12rem;
}

.skill h2 {
    font-size: 26px;
    font-family: "Poppins",Sans-serif;
    display: inline-block;
    margin-top: 15px;
    padding-left: 10px;
    position: absolute;
    text-align: left;
    line-height: 25px;
    z-index: 3;
    color: white;
}

.icon-box-icon {
    color: white;
    display: inline-block;
    margin-top: 20px;
}

.skill {
    border: rgb(255, 255, 255, 50%) solid 2px;
    height: 350px;
    width: 300px;
    text-align: center;
}

.chonky-underline-mag {
    position: absolute;
    height: 7px;
    width: 95%;
    background-color: magenta;
    z-index: -2;
}

.chonky-underline-blu {
    position: absolute;
    height: 7px;
    width: 65%;
    z-index: -2;
    background-color: blue;
}

.chonky-underline-red {
    position: absolute;
    height: 7px;
    width: 65%;
    z-index: -2;
    background-color: red;
}

.skill h3 {
    text-align: left;
    max-width: 13rem ;
    margin-left: 60px;
    font-family: "Poppins",Sans-serif;
    color: white;
    font-weight: 500;
}

.skill h3::before {
    content: "<h3>";
    position: absolute;
    margin-left: -50px;
    opacity: .5;
    margin-top: -25px;
}

.skill h3::after {
    content: "</h3>";
    position: absolute;
    margin-left: -50px;
    opacity: .5;
}

.skill h3 {
    border-left: 2px rgba(255, 255, 255, 0.5) solid;
    padding-left: 2.7rem;
}


.show {
    margin-left: 0px;
    animation: stagger .9s ease-in-out;
}


@keyframes stagger {
    from{
        margin-left: -800px;
    }to{
        margin-left: 0;
    }
}

@media all and (max-width: 467px) {
    .hamburger-btn {
        background: none;
        border: none;
        z-index: 1000;
        position: relative;
        margin-right: 150px;
    }

    .intro-text {
        margin-top: 150px;
    }
    #home h3 {
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        -webkit-text-stroke: var(--blue) 2.5px;
        color: transparent;
        font-size: 2.5em;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 10px;
        position: relative;
        z-index: 9;
    }
    
    .name, .nick {
        color: var(--blue);
        -webkit-text-stroke: 0px;
        opacity: 1;
        animation: wave 5s linear infinite;
        animation-play-state: paused;
    }

    .nick {
        animation: wave 1.5s linear infinite;
        animation-play-state: paused;
    }

    .wave {
        background-image: url(/assets/img/wave.svg);
        background-repeat: repeat no-repeat;
        background-position-y: 30px;
        background-size: 50px;
    }

}